
.bs-docs-sidebar .nav>li>a {
    font-family: Arial;
     font-weight: bold;
       font-size: small;
       color:black;
}


.titleIndex {
    font-weight: bold;
        font-size: 2em;
   margin-top: 1em;
     margin-bottom: 1em;
    line-height: 1.5em;
}
.h1{
       font-size: 2em;
       text-align: center;
}

h2, .h2{
       font-size: 20px;
    line-height: 1.5em;
    margin-left: 0.5em;
}

h3, .h3{
       font-size: 15px;
    line-height: 1.5em;
}

.contentIndex{
    text-align: justify;
    font-family: Arial;
    margin-left: 10px;
       color:black;
}

.contentIndex{
    margin-bottom: 0px;
       font-size: medium;
    line-height: 1.5em;
}

.contentIndex img{
    width: 70%;
    margin: 2em;
}



.content img{
    margin: 20px 0 20px 0;
}


#pythonCode {
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.gotop{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
}

/*FAQ part*/
#question{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;

}

#answer{
    font-size: 14px;
    margin-bottom: 20px;
}
.target-fix {
    position: relative;
    top: -130px; 
    display: block;
    height: 0;
    overflow: hidden;
}
